extends layout

block content
  h1 Página de Música
  h2= musica.id
  table 
    tr
        th Id
        th Província
        th Título
        th Músico
        th Duração 
        
        tr
            td= musica.id
            td= musica.prov
            td= musica.tit
            td= musica.musico 
            td= musica.duracao 
    