extends layout

block content

  h2.w3-indigo.w3-center.w3-monospace Carregamento de Ficheiros:
  form.w3-container(action='/' method='POST' enctype='multipart/form-data')
    label.w3-text-indigo
      b Selecionar Ficheiro
    input.w3-input.w3-border.w3-light-grey(type='file' name='myFile')
    label.w3-text-indigo
      b Descrição
    input.w3-input.w3-border.w3-light-grey(type='text' name='descricao')
    input.w3-btn.w3-indigo.w3-padding-16.w3-border-blue.w3-margin-top(type='submit' value='Carregar Ficheiro')

  h2.w3-indigo.w3-center.w3-monospace Lista de Ficheiros:
  table.w3-table.w3-bordered
    tr
      th.w3-center Data
      th.w3-center Nome
      th.w3-center Descrição
      th.w3-center Tipo
      th.w3-center Tamanho
    each f in list
      tr
        td.w3-center= f.data
        td.w3-center= f.nome
        td.w3-center= f.descricao
        td.w3-center= f.mimeType
        td.w3-center= f.size
        td
          form(action="/"+f._id method='POST')
            input.w3-white.w3-border.w3-border-indigo.w3-round-large(type='submit' value='Apagar')